@using Blazor_With_DI_and_Looping_Registration.Data.Login;
@inject Blazor_With_DI_and_Looping_Registration.Data.FinanceDbContext DbContext;

@inject Blazor_With_DI_and_Looping_Registration.Data.Login.ILoginService LoginService;

@if (LoginService.Investor != null)
{
    @LoginService.Investor.Name

}
else
{
<form class="o-container o-container--xsmall c-card u-high">
    <header class="c-card__header">
        <h2 class="c-heading">
            Login
        </h2>
    </header>

    <div class="c-card__body">

        <EditForm Model="@loginForm" OnValidSubmit="@Login">
            <label class="c-label">
                email:
                <InputText id="Email" @bind-Value="loginForm.Email" class="c-field c-field--label" />
            </label>
            <label class="c-label">
                password: 
                <InputText id="Password" @bind-Value="loginForm.Password" class="c-field c-field--label" />
            </label>
            <footer class="c-card__footer">
                <button type="submit" class="c-button c-button--brand c-button--block">
                    Login
                </button>
            </footer>
        </EditForm>
    </div>
    
</form>
    
}


@if (InvalidLogin)
{
    <p>A user with that email/password was not found</p>
}


@code {
    private LoginFormModel loginForm = new LoginFormModel();
    private bool InvalidLogin = false;

    [Parameter]
    public Blazor_With_DI_and_Looping_Registration.Data.Data_Set_Models.Investor Investor { get; set; }

    protected override void OnInitialized()
    {
        Blazor_With_DI_and_Looping_Registration.Data.DataGenerator.Init(DbContext);

        base.OnInitialized();
    }

    private void Login()
    {
        var inv = LoginService.Login(loginForm.Email, loginForm.Password);
        if (inv == null)
        {
            InvalidLogin = true;
        }
        else
        {
            Investor = inv;
        }
    }
}
