@inherits LayoutComponentBase
@inject Blazor_With_DI_and_Looping_Registration.Data.Login.ILoginService LoginService;

    <div class="sidebar">
        <NavMenu />
    </div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @if (LoginService.Investor != null)
        {
            @Body
        }
        else
        {
            <LoginForm Investor="LoginService.Investor" />
        }
    </div>
</div>

<code>

</code>